<mat-form-field class="example-full-width">
    <input matInput placeholder="URL" [(ngModel)]="URL">
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="METHOD" [(ngModel)]="Method">
      <mat-option *ngFor="let httpMethod of httpMethodAndName" [value]="httpMethod[0]" >
        {{httpMethod[1]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<button mat-button (click)="sendRequest(URL,Method)">Send</button>
<mat-form-field>
    <textarea matInput placeholder="Leave a comment" [value]="result"></textarea>
</mat-form-field>